@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    Nikesh Maharjan <br />
    Fayetteville NC<br/>
    <abbr title="Phone">P:</abbr>
    808.888.9332
</address>

<address>
    <strong>Questions/Comments</strong>   <a href="mailto:nikesh.cap@gmail.com">nikesh.cap@gmail.com</a><br />
</address>